.main {
    /* padding-top: 100px; */
    background-color: rgba(83, 160, 242, 0.08);
    width: 80%;
    margin-left: 10%;
    height: auto;
    padding: 80px;
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 100px;
}


.main h1 {
    font-family: "Roboto", sans-serif;
    color:rgb(7, 5, 86);
    margin-bottom: 5px;
}
.main h2 {
    font-family: "Roboto", sans-serif;
    color:rgb(7, 5, 86);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
}

.main hr {
    border-color:rgb(5, 4, 58);
}

.main p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
    font-family: "Roboto", sans-serif;
}

.main button {
    border: 1px solid black;
    padding: 5px 30px;
    font-weight: 300;
    background-color: white;
    margin-left: 30px;
    border-radius: 10px;
    width: 40%;

    font-size: 17px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: white;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
input[type="checkbox"]:hover {
    border-color: #0056b3;
}

input[type="checkbox"]:checked {
    background-color: #007bff;
    border-color: #0056b3;
}

.main input[type="submit"] {
    border: 1px solid black;
    padding: 5px 30px;
    font-weight: 300;
    background-color: white;
    margin-left: 30px;
    border-radius: 10px;

    font-size: 17px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

input[type="checkbox"]::after {
    content: "+";
    font-size: 22px;
    color: white;
    display: none;
    position: absolute;
    left: 4px;
    top: -1px;
}

input[type="checkbox"]:checked::after {
    display: block;
}

span {
    /*margin-left: -20px;*/
    /*font-size: 20px;*/
}

p label {
    font-size: 20px !important;
}
p label {
    font-size: 22px;
    color: #333;
    cursor: pointer;
    display: flex;
    line-height: 30px;
    align-items: center;
    gap: 10px;
    margin-left: 5px;
    margin-bottom: -20px;

}

select {
    width: 30%;

    padding: 3px 20px;
    border: 2px solid #007bff;
    border-radius: 6px;
    background: rgb(247, 251, 255);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

select:hover {
    border-color: #0056b3;
}

select:focus {
    outline: none;
    border-color: #0e1178;
    box-shadow: 0 0 5px rgba(2, 5, 94, 0.5);
}

option {
    font-size: 16px;
    background: white;
    color: #333;
}

input[type="text"], input[type="email"], input[type="url"], input[type="number"] {
    border: 2px solid rgb(0, 0, 156);
    width: 300px;
    border-radius: 5px;
    padding: 2px 20px;
    margin-right: 10px;
    font-size: 18px;
}

input[type="number"] {
    border: 2px solid rgb(0, 0, 156);
    width: 60px;
    border-radius: 5px;
    padding: 2px 20px;
    padding-right: 0px;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 18px;
}

textarea {
    border: 2px solid rgb(0, 0, 156);
    border-radius: 5px;
    width: 95%;
    font-weight: 100;
    line-height: 25px;
    height: 150px;
    font-family: "Roboto", sans-serif;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 18px;
}

.photo {
    position: relative;
    width: 100%;
    max-width: 800px;

    overflow: hidden;
    /*border-radius: 10px;*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.photo-main-sanatory {

    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    /*border-radius: 10px;*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}
.img-wrap {
    border: 1px solid grey;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 10px 0px 10px 20px;
    display: flex;
    transition: transform 0.5s ease;
    object-fit: cover;
}

.img-wrap img {
    width: 100px;
    margin: 10px 30px;
    /*height: auto;*/
    height: 80px;
    flex-shrink: 0;
    position: relative;
    object-fit: cover;
}
.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.26);
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0px;
}

.btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
}

.delete-photos {
    position: absolute !important;
    margin-left: -40px;
    margin-top: 0px;
}

input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.input-file-btn {
    position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 16px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	background-color: #419169;
	line-height: 22px;
	height: 40px;
            width: 100%;
	padding: 10px 80px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}


form {
    width: 80%;
    font-family: "Roboto", sans-serif;
    font-size: 13px;

    font-weight: 200;
    margin-left: 10%;
}

.label-group {
    font-size: 20px;
    line-height: 60px;
    margin-top: 5px;
}


@media (max-width: 768px) {
    .main{
        width: 100%;
        margin-left: 0px;
        padding: 10px;
        padding-top: 90px;
    }

    select {
        width: auto;
    }

    .main button {
        margin: 0px;
        width: auto
    }

    form {
        width: 100%;
        margin-left: 0px;
    }

    textarea {
        width: 85%;
    }
}
